@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply h-5 w-5 cursor-pointer hover:scale-125 transition transform duration-100 ease-out;
    }

    @layer base {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            @apply text-white align-baseline font-thin;
        }
    }

    button {
        @apply text-white;
    }


}


span.p-button {
    background-color: black;
    opacity: 0.5;
    border: white 2px solid;
    transition-duration: 0.4s;
    }
    span.p-button:hover {
    background-color: black !important;
    opacity: 1 !important;
    border: white 2px solid !important;
    }

    button.p-component {
    background-color: black;
    opacity: 0.5;
    border: white 2px solid;
    transition-duration: 0.4s;
    }
    button.p-button:hover {
    background-color: black !important;
    opacity: 1 !important;
    border: white 2px solid !important;
    }

div.p-fileupload-buttonbar {
    display: flex !important;
    background: none !important;
    border: none !important;
    justify-content: center !important;
}

.Typewriter {
    text-shadow: 2px 2px #000000;
}

div.p-fileupload {
    border: none !important;
}

div.p-fileupload-content{
    background: none!important;
    border: none !important;
}
/* "bg-black text-white border p-2 shadow-inner rounded opacity-50 hover:opacity-100" */