@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .button {
        @apply h-5 w-5 cursor-pointer hover: scale-125 transition transform duration-100 ease-out;
    }
}    */

@layer base {

    h1,
    h2,
    h4,
    h5,
    h6 {
        @apply text-white align-baseline;
    }

    h3 {
        @apply text-black;
    }
}